<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jianyun.saas.mapper.UsrCurerecipeRefundMapper" >
  <resultMap id="BaseResultMap" type="com.jianyun.saas.model.UsrCurerecipeRefund" >
    <id column="CURE_ID" property="cureId" jdbcType="VARCHAR" />
    <id column="RECREFUND_ID" property="recrefundId" jdbcType="VARCHAR" />
    <result column="RECIPEREL_ID" property="reciperelId" jdbcType="VARCHAR" />
    <result column="RECIPE_ID" property="recipeId" jdbcType="VARCHAR" />
    <result column="CURE_NM" property="cureNm" jdbcType="VARCHAR" />
    <result column="CURE_PRICE" property="curePrice" jdbcType="NUMERIC" />
    <result column="CURE_NUM" property="cureNum" jdbcType="NUMERIC" />
    <result column="REFUND_NUM" property="refundNum" jdbcType="NUMERIC" />
    <result column="RECOVERY_NUM" property="recoveryNum" jdbcType="NUMERIC" />
    <result column="TOTAL_PRICE" property="totalPrice" jdbcType="NUMERIC" />
    <result column="TM_SMP" property="tmSmp" jdbcType="VARCHAR" />
    <result column="CURE_TYP" property="cureTyp" jdbcType="VARCHAR" />
    <result column="SERPKG_NUM" property="serpkgNum" jdbcType="NUMERIC" />
    <result column="RESIDUE_NUM" property="residueNum" jdbcType="NUMERIC" />
    <result column="DISCOUNT" property="discount" jdbcType="NUMERIC" />
    <result column="DISCOUNT_PRICE" property="discountPrice" jdbcType="NUMERIC" />
  </resultMap>
  <sql id="Base_Column_List" >
    CURE_ID, RECREFUND_ID, RECIPEREL_ID, RECIPE_ID, CURE_NM, CURE_PRICE, CURE_NUM, REFUND_NUM, 
    RECOVERY_NUM, TOTAL_PRICE, TM_SMP, CURE_TYP, SERPKG_NUM, RESIDUE_NUM, DISCOUNT, DISCOUNT_PRICE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.jianyun.saas.model.UsrCurerecipeRefundKey" >
    select 
    <include refid="Base_Column_List" />
    from USR_CURERECIPE_REFUND
    where CURE_ID = #{cureId,jdbcType=VARCHAR}
      and RECREFUND_ID = #{recrefundId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.jianyun.saas.model.UsrCurerecipeRefundKey" >
    delete from USR_CURERECIPE_REFUND
    where CURE_ID = #{cureId,jdbcType=VARCHAR}
      and RECREFUND_ID = #{recrefundId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jianyun.saas.model.UsrCurerecipeRefund" >
    insert into USR_CURERECIPE_REFUND (CURE_ID, RECREFUND_ID, RECIPEREL_ID, 
      RECIPE_ID, CURE_NM, CURE_PRICE, 
      CURE_NUM, REFUND_NUM, RECOVERY_NUM, 
      TOTAL_PRICE, TM_SMP, CURE_TYP, 
      SERPKG_NUM, RESIDUE_NUM, DISCOUNT, 
      DISCOUNT_PRICE)
    values (#{cureId,jdbcType=VARCHAR}, #{recrefundId,jdbcType=VARCHAR}, #{reciperelId,jdbcType=VARCHAR}, 
      #{recipeId,jdbcType=VARCHAR}, #{cureNm,jdbcType=VARCHAR}, #{curePrice,jdbcType=NUMERIC}, 
      #{cureNum,jdbcType=NUMERIC}, #{refundNum,jdbcType=NUMERIC}, #{recoveryNum,jdbcType=NUMERIC}, 
      #{totalPrice,jdbcType=NUMERIC}, #{tmSmp,jdbcType=VARCHAR}, #{cureTyp,jdbcType=VARCHAR}, 
      #{serpkgNum,jdbcType=NUMERIC}, #{residueNum,jdbcType=NUMERIC}, #{discount,jdbcType=NUMERIC}, 
      #{discountPrice,jdbcType=NUMERIC})
  </insert>
  <insert id="insertSelective" parameterType="com.jianyun.saas.model.UsrCurerecipeRefund" >
    insert into USR_CURERECIPE_REFUND
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cureId != null" >
        CURE_ID,
      </if>
      <if test="recrefundId != null" >
        RECREFUND_ID,
      </if>
      <if test="reciperelId != null" >
        RECIPEREL_ID,
      </if>
      <if test="recipeId != null" >
        RECIPE_ID,
      </if>
      <if test="cureNm != null" >
        CURE_NM,
      </if>
      <if test="curePrice != null" >
        CURE_PRICE,
      </if>
      <if test="cureNum != null" >
        CURE_NUM,
      </if>
      <if test="refundNum != null" >
        REFUND_NUM,
      </if>
      <if test="recoveryNum != null" >
        RECOVERY_NUM,
      </if>
      <if test="totalPrice != null" >
        TOTAL_PRICE,
      </if>
      <if test="tmSmp != null" >
        TM_SMP,
      </if>
      <if test="cureTyp != null" >
        CURE_TYP,
      </if>
      <if test="serpkgNum != null" >
        SERPKG_NUM,
      </if>
      <if test="residueNum != null" >
        RESIDUE_NUM,
      </if>
      <if test="discount != null" >
        DISCOUNT,
      </if>
      <if test="discountPrice != null" >
        DISCOUNT_PRICE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cureId != null" >
        #{cureId,jdbcType=VARCHAR},
      </if>
      <if test="recrefundId != null" >
        #{recrefundId,jdbcType=VARCHAR},
      </if>
      <if test="reciperelId != null" >
        #{reciperelId,jdbcType=VARCHAR},
      </if>
      <if test="recipeId != null" >
        #{recipeId,jdbcType=VARCHAR},
      </if>
      <if test="cureNm != null" >
        #{cureNm,jdbcType=VARCHAR},
      </if>
      <if test="curePrice != null" >
        #{curePrice,jdbcType=NUMERIC},
      </if>
      <if test="cureNum != null" >
        #{cureNum,jdbcType=NUMERIC},
      </if>
      <if test="refundNum != null" >
        #{refundNum,jdbcType=NUMERIC},
      </if>
      <if test="recoveryNum != null" >
        #{recoveryNum,jdbcType=NUMERIC},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=NUMERIC},
      </if>
      <if test="tmSmp != null" >
        #{tmSmp,jdbcType=VARCHAR},
      </if>
      <if test="cureTyp != null" >
        #{cureTyp,jdbcType=VARCHAR},
      </if>
      <if test="serpkgNum != null" >
        #{serpkgNum,jdbcType=NUMERIC},
      </if>
      <if test="residueNum != null" >
        #{residueNum,jdbcType=NUMERIC},
      </if>
      <if test="discount != null" >
        #{discount,jdbcType=NUMERIC},
      </if>
      <if test="discountPrice != null" >
        #{discountPrice,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jianyun.saas.model.UsrCurerecipeRefund" >
    update USR_CURERECIPE_REFUND
    <set >
      <if test="reciperelId != null" >
        RECIPEREL_ID = #{reciperelId,jdbcType=VARCHAR},
      </if>
      <if test="recipeId != null" >
        RECIPE_ID = #{recipeId,jdbcType=VARCHAR},
      </if>
      <if test="cureNm != null" >
        CURE_NM = #{cureNm,jdbcType=VARCHAR},
      </if>
      <if test="curePrice != null" >
        CURE_PRICE = #{curePrice,jdbcType=NUMERIC},
      </if>
      <if test="cureNum != null" >
        CURE_NUM = #{cureNum,jdbcType=NUMERIC},
      </if>
      <if test="refundNum != null" >
        REFUND_NUM = #{refundNum,jdbcType=NUMERIC},
      </if>
      <if test="recoveryNum != null" >
        RECOVERY_NUM = #{recoveryNum,jdbcType=NUMERIC},
      </if>
      <if test="totalPrice != null" >
        TOTAL_PRICE = #{totalPrice,jdbcType=NUMERIC},
      </if>
      <if test="tmSmp != null" >
        TM_SMP = #{tmSmp,jdbcType=VARCHAR},
      </if>
      <if test="cureTyp != null" >
        CURE_TYP = #{cureTyp,jdbcType=VARCHAR},
      </if>
      <if test="serpkgNum != null" >
        SERPKG_NUM = #{serpkgNum,jdbcType=NUMERIC},
      </if>
      <if test="residueNum != null" >
        RESIDUE_NUM = #{residueNum,jdbcType=NUMERIC},
      </if>
      <if test="discount != null" >
        DISCOUNT = #{discount,jdbcType=NUMERIC},
      </if>
      <if test="discountPrice != null" >
        DISCOUNT_PRICE = #{discountPrice,jdbcType=NUMERIC},
      </if>
    </set>
    where CURE_ID = #{cureId,jdbcType=VARCHAR}
      and RECREFUND_ID = #{recrefundId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jianyun.saas.model.UsrCurerecipeRefund" >
    update USR_CURERECIPE_REFUND
    set RECIPEREL_ID = #{reciperelId,jdbcType=VARCHAR},
      RECIPE_ID = #{recipeId,jdbcType=VARCHAR},
      CURE_NM = #{cureNm,jdbcType=VARCHAR},
      CURE_PRICE = #{curePrice,jdbcType=NUMERIC},
      CURE_NUM = #{cureNum,jdbcType=NUMERIC},
      REFUND_NUM = #{refundNum,jdbcType=NUMERIC},
      RECOVERY_NUM = #{recoveryNum,jdbcType=NUMERIC},
      TOTAL_PRICE = #{totalPrice,jdbcType=NUMERIC},
      TM_SMP = #{tmSmp,jdbcType=VARCHAR},
      CURE_TYP = #{cureTyp,jdbcType=VARCHAR},
      SERPKG_NUM = #{serpkgNum,jdbcType=NUMERIC},
      RESIDUE_NUM = #{residueNum,jdbcType=NUMERIC},
      DISCOUNT = #{discount,jdbcType=NUMERIC},
      DISCOUNT_PRICE = #{discountPrice,jdbcType=NUMERIC}
    where CURE_ID = #{cureId,jdbcType=VARCHAR}
      and RECREFUND_ID = #{recrefundId,jdbcType=VARCHAR}
  </update>
</mapper>