<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jianyun.saas.mapper.UsrEastrecipeRefundMapper">
  <resultMap id="BaseResultMap" type="com.jianyun.saas.model.UsrEastrecipeRefund">
    <id column="EASTREFUND_ID" jdbcType="VARCHAR" property="eastrefundId" />
    <id column="STOCK_ID" jdbcType="VARCHAR" property="stockId" />
    <result column="RECIPEREL_ID" jdbcType="VARCHAR" property="reciperelId" />
    <result column="RECIPE_ID" jdbcType="VARCHAR" property="recipeId" />
    <result column="MED_ID" jdbcType="VARCHAR" property="medId" />
    <result column="MED_NM" jdbcType="VARCHAR" property="medNm" />
    <result column="MED_PRICE" jdbcType="NUMERIC" property="medPrice" />
    <result column="MED_NUM" jdbcType="NUMERIC" property="medNum" />
    <result column="REFUND_NUM" jdbcType="NUMERIC" property="refundNum" />
    <result column="RECOVERY_NUM" jdbcType="NUMERIC" property="recoveryNum" />
    <result column="TOTAL_PRICE" jdbcType="NUMERIC" property="totalPrice" />
    <result column="MED_METHOD" jdbcType="VARCHAR" property="medMethod" />
    <result column="DOSAGE" jdbcType="NUMERIC" property="dosage" />
    <result column="MED_FORM" jdbcType="VARCHAR" property="medForm" />
    <result column="PRODUCT_PLACE" jdbcType="VARCHAR" property="productPlace" />
    <result column="MED_SPEC" jdbcType="VARCHAR" property="medSpec" />
    <result column="MED_UNIT" jdbcType="VARCHAR" property="medUnit" />
    <result column="TM_SMP" jdbcType="VARCHAR" property="tmSmp" />
    <result column="DISCOUNT" jdbcType="NUMERIC" property="discount" />
    <result column="DISCOUNT_PRICE" jdbcType="NUMERIC" property="discountPrice" />
  </resultMap>
  <sql id="Base_Column_List">
    EASTREFUND_ID, STOCK_ID, RECIPEREL_ID, RECIPE_ID, MED_ID, MED_NM, MED_PRICE, MED_NUM, 
    REFUND_NUM, RECOVERY_NUM, TOTAL_PRICE, MED_METHOD, DOSAGE, MED_FORM, PRODUCT_PLACE, 
    MED_SPEC, MED_UNIT, TM_SMP, DISCOUNT, DISCOUNT_PRICE
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.jianyun.saas.model.UsrEastrecipeRefundKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from USR_EASTRECIPE_REFUND
    where EASTREFUND_ID = #{eastrefundId,jdbcType=VARCHAR}
      and STOCK_ID = #{stockId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.jianyun.saas.model.UsrEastrecipeRefundKey">
    delete from USR_EASTRECIPE_REFUND
    where EASTREFUND_ID = #{eastrefundId,jdbcType=VARCHAR}
      and STOCK_ID = #{stockId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jianyun.saas.model.UsrEastrecipeRefund">
    insert into USR_EASTRECIPE_REFUND (EASTREFUND_ID, STOCK_ID, RECIPEREL_ID, 
      RECIPE_ID, MED_ID, MED_NM, 
      MED_PRICE, MED_NUM, REFUND_NUM, 
      RECOVERY_NUM, TOTAL_PRICE, MED_METHOD, 
      DOSAGE, MED_FORM, PRODUCT_PLACE, 
      MED_SPEC, MED_UNIT, TM_SMP, 
      DISCOUNT, DISCOUNT_PRICE)
    values (#{eastrefundId,jdbcType=VARCHAR}, #{stockId,jdbcType=VARCHAR}, #{reciperelId,jdbcType=VARCHAR}, 
      #{recipeId,jdbcType=VARCHAR}, #{medId,jdbcType=VARCHAR}, #{medNm,jdbcType=VARCHAR}, 
      #{medPrice,jdbcType=NUMERIC}, #{medNum,jdbcType=NUMERIC}, #{refundNum,jdbcType=NUMERIC}, 
      #{recoveryNum,jdbcType=NUMERIC}, #{totalPrice,jdbcType=NUMERIC}, #{medMethod,jdbcType=VARCHAR}, 
      #{dosage,jdbcType=NUMERIC}, #{medForm,jdbcType=VARCHAR}, #{productPlace,jdbcType=VARCHAR}, 
      #{medSpec,jdbcType=VARCHAR}, #{medUnit,jdbcType=VARCHAR}, #{tmSmp,jdbcType=VARCHAR}, 
      #{discount,jdbcType=NUMERIC}, #{discountPrice,jdbcType=NUMERIC})
  </insert>
  <insert id="insertSelective" parameterType="com.jianyun.saas.model.UsrEastrecipeRefund">
    insert into USR_EASTRECIPE_REFUND
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="eastrefundId != null">
        EASTREFUND_ID,
      </if>
      <if test="stockId != null">
        STOCK_ID,
      </if>
      <if test="reciperelId != null">
        RECIPEREL_ID,
      </if>
      <if test="recipeId != null">
        RECIPE_ID,
      </if>
      <if test="medId != null">
        MED_ID,
      </if>
      <if test="medNm != null">
        MED_NM,
      </if>
      <if test="medPrice != null">
        MED_PRICE,
      </if>
      <if test="medNum != null">
        MED_NUM,
      </if>
      <if test="refundNum != null">
        REFUND_NUM,
      </if>
      <if test="recoveryNum != null">
        RECOVERY_NUM,
      </if>
      <if test="totalPrice != null">
        TOTAL_PRICE,
      </if>
      <if test="medMethod != null">
        MED_METHOD,
      </if>
      <if test="dosage != null">
        DOSAGE,
      </if>
      <if test="medForm != null">
        MED_FORM,
      </if>
      <if test="productPlace != null">
        PRODUCT_PLACE,
      </if>
      <if test="medSpec != null">
        MED_SPEC,
      </if>
      <if test="medUnit != null">
        MED_UNIT,
      </if>
      <if test="tmSmp != null">
        TM_SMP,
      </if>
      <if test="discount != null">
        DISCOUNT,
      </if>
      <if test="discountPrice != null">
        DISCOUNT_PRICE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="eastrefundId != null">
        #{eastrefundId,jdbcType=VARCHAR},
      </if>
      <if test="stockId != null">
        #{stockId,jdbcType=VARCHAR},
      </if>
      <if test="reciperelId != null">
        #{reciperelId,jdbcType=VARCHAR},
      </if>
      <if test="recipeId != null">
        #{recipeId,jdbcType=VARCHAR},
      </if>
      <if test="medId != null">
        #{medId,jdbcType=VARCHAR},
      </if>
      <if test="medNm != null">
        #{medNm,jdbcType=VARCHAR},
      </if>
      <if test="medPrice != null">
        #{medPrice,jdbcType=NUMERIC},
      </if>
      <if test="medNum != null">
        #{medNum,jdbcType=NUMERIC},
      </if>
      <if test="refundNum != null">
        #{refundNum,jdbcType=NUMERIC},
      </if>
      <if test="recoveryNum != null">
        #{recoveryNum,jdbcType=NUMERIC},
      </if>
      <if test="totalPrice != null">
        #{totalPrice,jdbcType=NUMERIC},
      </if>
      <if test="medMethod != null">
        #{medMethod,jdbcType=VARCHAR},
      </if>
      <if test="dosage != null">
        #{dosage,jdbcType=NUMERIC},
      </if>
      <if test="medForm != null">
        #{medForm,jdbcType=VARCHAR},
      </if>
      <if test="productPlace != null">
        #{productPlace,jdbcType=VARCHAR},
      </if>
      <if test="medSpec != null">
        #{medSpec,jdbcType=VARCHAR},
      </if>
      <if test="medUnit != null">
        #{medUnit,jdbcType=VARCHAR},
      </if>
      <if test="tmSmp != null">
        #{tmSmp,jdbcType=VARCHAR},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=NUMERIC},
      </if>
      <if test="discountPrice != null">
        #{discountPrice,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jianyun.saas.model.UsrEastrecipeRefund">
    update USR_EASTRECIPE_REFUND
    <set>
      <if test="reciperelId != null">
        RECIPEREL_ID = #{reciperelId,jdbcType=VARCHAR},
      </if>
      <if test="recipeId != null">
        RECIPE_ID = #{recipeId,jdbcType=VARCHAR},
      </if>
      <if test="medId != null">
        MED_ID = #{medId,jdbcType=VARCHAR},
      </if>
      <if test="medNm != null">
        MED_NM = #{medNm,jdbcType=VARCHAR},
      </if>
      <if test="medPrice != null">
        MED_PRICE = #{medPrice,jdbcType=NUMERIC},
      </if>
      <if test="medNum != null">
        MED_NUM = #{medNum,jdbcType=NUMERIC},
      </if>
      <if test="refundNum != null">
        REFUND_NUM = #{refundNum,jdbcType=NUMERIC},
      </if>
      <if test="recoveryNum != null">
        RECOVERY_NUM = #{recoveryNum,jdbcType=NUMERIC},
      </if>
      <if test="totalPrice != null">
        TOTAL_PRICE = #{totalPrice,jdbcType=NUMERIC},
      </if>
      <if test="medMethod != null">
        MED_METHOD = #{medMethod,jdbcType=VARCHAR},
      </if>
      <if test="dosage != null">
        DOSAGE = #{dosage,jdbcType=NUMERIC},
      </if>
      <if test="medForm != null">
        MED_FORM = #{medForm,jdbcType=VARCHAR},
      </if>
      <if test="productPlace != null">
        PRODUCT_PLACE = #{productPlace,jdbcType=VARCHAR},
      </if>
      <if test="medSpec != null">
        MED_SPEC = #{medSpec,jdbcType=VARCHAR},
      </if>
      <if test="medUnit != null">
        MED_UNIT = #{medUnit,jdbcType=VARCHAR},
      </if>
      <if test="tmSmp != null">
        TM_SMP = #{tmSmp,jdbcType=VARCHAR},
      </if>
      <if test="discount != null">
        DISCOUNT = #{discount,jdbcType=NUMERIC},
      </if>
      <if test="discountPrice != null">
        DISCOUNT_PRICE = #{discountPrice,jdbcType=NUMERIC},
      </if>
    </set>
    where EASTREFUND_ID = #{eastrefundId,jdbcType=VARCHAR}
      and STOCK_ID = #{stockId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jianyun.saas.model.UsrEastrecipeRefund">
    update USR_EASTRECIPE_REFUND
    set RECIPEREL_ID = #{reciperelId,jdbcType=VARCHAR},
      RECIPE_ID = #{recipeId,jdbcType=VARCHAR},
      MED_ID = #{medId,jdbcType=VARCHAR},
      MED_NM = #{medNm,jdbcType=VARCHAR},
      MED_PRICE = #{medPrice,jdbcType=NUMERIC},
      MED_NUM = #{medNum,jdbcType=NUMERIC},
      REFUND_NUM = #{refundNum,jdbcType=NUMERIC},
      RECOVERY_NUM = #{recoveryNum,jdbcType=NUMERIC},
      TOTAL_PRICE = #{totalPrice,jdbcType=NUMERIC},
      MED_METHOD = #{medMethod,jdbcType=VARCHAR},
      DOSAGE = #{dosage,jdbcType=NUMERIC},
      MED_FORM = #{medForm,jdbcType=VARCHAR},
      PRODUCT_PLACE = #{productPlace,jdbcType=VARCHAR},
      MED_SPEC = #{medSpec,jdbcType=VARCHAR},
      MED_UNIT = #{medUnit,jdbcType=VARCHAR},
      TM_SMP = #{tmSmp,jdbcType=VARCHAR},
      DISCOUNT = #{discount,jdbcType=NUMERIC},
      DISCOUNT_PRICE = #{discountPrice,jdbcType=NUMERIC}
    where EASTREFUND_ID = #{eastrefundId,jdbcType=VARCHAR}
      and STOCK_ID = #{stockId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.jianyun.saas.model.UsrEastrecipeRefund">
    <id column="EASTREFUND_ID" jdbcType="VARCHAR" property="eastrefundId" />
    <id column="STOCK_ID" jdbcType="VARCHAR" property="stockId" />
    <result column="RECIPEREL_ID" jdbcType="VARCHAR" property="reciperelId" />
    <result column="RECIPE_ID" jdbcType="VARCHAR" property="recipeId" />
    <result column="MED_ID" jdbcType="VARCHAR" property="medId" />
    <result column="MED_NM" jdbcType="VARCHAR" property="medNm" />
    <result column="MED_PRICE" jdbcType="NUMERIC" property="medPrice" />
    <result column="MED_NUM" jdbcType="NUMERIC" property="medNum" />
    <result column="REFUND_NUM" jdbcType="NUMERIC" property="refundNum" />
    <result column="RECOVERY_NUM" jdbcType="NUMERIC" property="recoveryNum" />
    <result column="TOTAL_PRICE" jdbcType="NUMERIC" property="totalPrice" />
    <result column="MED_METHOD" jdbcType="VARCHAR" property="medMethod" />
    <result column="DOSAGE" jdbcType="NUMERIC" property="dosage" />
    <result column="MED_FORM" jdbcType="VARCHAR" property="medForm" />
    <result column="PRODUCT_PLACE" jdbcType="VARCHAR" property="productPlace" />
    <result column="MED_SPEC" jdbcType="VARCHAR" property="medSpec" />
    <result column="MED_UNIT" jdbcType="VARCHAR" property="medUnit" />
    <result column="TM_SMP" jdbcType="VARCHAR" property="tmSmp" />
    <result column="DISCOUNT" jdbcType="NUMERIC" property="discount" />
    <result column="DISCOUNT_PRICE" jdbcType="NUMERIC" property="discountPrice" />
  </resultMap>
  <sql id="Base_Column_List">
    EASTREFUND_ID, STOCK_ID, RECIPEREL_ID, RECIPE_ID, MED_ID, MED_NM, MED_PRICE, MED_NUM, 
    REFUND_NUM, RECOVERY_NUM, TOTAL_PRICE, MED_METHOD, DOSAGE, MED_FORM, PRODUCT_PLACE, 
    MED_SPEC, MED_UNIT, TM_SMP, DISCOUNT, DISCOUNT_PRICE
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.jianyun.saas.model.UsrEastrecipeRefundKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from USR_EASTRECIPE_REFUND
    where EASTREFUND_ID = #{eastrefundId,jdbcType=VARCHAR}
      and STOCK_ID = #{stockId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.jianyun.saas.model.UsrEastrecipeRefundKey">
    delete from USR_EASTRECIPE_REFUND
    where EASTREFUND_ID = #{eastrefundId,jdbcType=VARCHAR}
      and STOCK_ID = #{stockId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jianyun.saas.model.UsrEastrecipeRefund">
    insert into USR_EASTRECIPE_REFUND (EASTREFUND_ID, STOCK_ID, RECIPEREL_ID, 
      RECIPE_ID, MED_ID, MED_NM, 
      MED_PRICE, MED_NUM, REFUND_NUM, 
      RECOVERY_NUM, TOTAL_PRICE, MED_METHOD, 
      DOSAGE, MED_FORM, PRODUCT_PLACE, 
      MED_SPEC, MED_UNIT, TM_SMP, 
      DISCOUNT, DISCOUNT_PRICE)
    values (#{eastrefundId,jdbcType=VARCHAR}, #{stockId,jdbcType=VARCHAR}, #{reciperelId,jdbcType=VARCHAR}, 
      #{recipeId,jdbcType=VARCHAR}, #{medId,jdbcType=VARCHAR}, #{medNm,jdbcType=VARCHAR}, 
      #{medPrice,jdbcType=NUMERIC}, #{medNum,jdbcType=NUMERIC}, #{refundNum,jdbcType=NUMERIC}, 
      #{recoveryNum,jdbcType=NUMERIC}, #{totalPrice,jdbcType=NUMERIC}, #{medMethod,jdbcType=VARCHAR}, 
      #{dosage,jdbcType=NUMERIC}, #{medForm,jdbcType=VARCHAR}, #{productPlace,jdbcType=VARCHAR}, 
      #{medSpec,jdbcType=VARCHAR}, #{medUnit,jdbcType=VARCHAR}, #{tmSmp,jdbcType=VARCHAR}, 
      #{discount,jdbcType=NUMERIC}, #{discountPrice,jdbcType=NUMERIC})
  </insert>
  <insert id="insertSelective" parameterType="com.jianyun.saas.model.UsrEastrecipeRefund">
    insert into USR_EASTRECIPE_REFUND
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="eastrefundId != null">
        EASTREFUND_ID,
      </if>
      <if test="stockId != null">
        STOCK_ID,
      </if>
      <if test="reciperelId != null">
        RECIPEREL_ID,
      </if>
      <if test="recipeId != null">
        RECIPE_ID,
      </if>
      <if test="medId != null">
        MED_ID,
      </if>
      <if test="medNm != null">
        MED_NM,
      </if>
      <if test="medPrice != null">
        MED_PRICE,
      </if>
      <if test="medNum != null">
        MED_NUM,
      </if>
      <if test="refundNum != null">
        REFUND_NUM,
      </if>
      <if test="recoveryNum != null">
        RECOVERY_NUM,
      </if>
      <if test="totalPrice != null">
        TOTAL_PRICE,
      </if>
      <if test="medMethod != null">
        MED_METHOD,
      </if>
      <if test="dosage != null">
        DOSAGE,
      </if>
      <if test="medForm != null">
        MED_FORM,
      </if>
      <if test="productPlace != null">
        PRODUCT_PLACE,
      </if>
      <if test="medSpec != null">
        MED_SPEC,
      </if>
      <if test="medUnit != null">
        MED_UNIT,
      </if>
      <if test="tmSmp != null">
        TM_SMP,
      </if>
      <if test="discount != null">
        DISCOUNT,
      </if>
      <if test="discountPrice != null">
        DISCOUNT_PRICE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="eastrefundId != null">
        #{eastrefundId,jdbcType=VARCHAR},
      </if>
      <if test="stockId != null">
        #{stockId,jdbcType=VARCHAR},
      </if>
      <if test="reciperelId != null">
        #{reciperelId,jdbcType=VARCHAR},
      </if>
      <if test="recipeId != null">
        #{recipeId,jdbcType=VARCHAR},
      </if>
      <if test="medId != null">
        #{medId,jdbcType=VARCHAR},
      </if>
      <if test="medNm != null">
        #{medNm,jdbcType=VARCHAR},
      </if>
      <if test="medPrice != null">
        #{medPrice,jdbcType=NUMERIC},
      </if>
      <if test="medNum != null">
        #{medNum,jdbcType=NUMERIC},
      </if>
      <if test="refundNum != null">
        #{refundNum,jdbcType=NUMERIC},
      </if>
      <if test="recoveryNum != null">
        #{recoveryNum,jdbcType=NUMERIC},
      </if>
      <if test="totalPrice != null">
        #{totalPrice,jdbcType=NUMERIC},
      </if>
      <if test="medMethod != null">
        #{medMethod,jdbcType=VARCHAR},
      </if>
      <if test="dosage != null">
        #{dosage,jdbcType=NUMERIC},
      </if>
      <if test="medForm != null">
        #{medForm,jdbcType=VARCHAR},
      </if>
      <if test="productPlace != null">
        #{productPlace,jdbcType=VARCHAR},
      </if>
      <if test="medSpec != null">
        #{medSpec,jdbcType=VARCHAR},
      </if>
      <if test="medUnit != null">
        #{medUnit,jdbcType=VARCHAR},
      </if>
      <if test="tmSmp != null">
        #{tmSmp,jdbcType=VARCHAR},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=NUMERIC},
      </if>
      <if test="discountPrice != null">
        #{discountPrice,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jianyun.saas.model.UsrEastrecipeRefund">
    update USR_EASTRECIPE_REFUND
    <set>
      <if test="reciperelId != null">
        RECIPEREL_ID = #{reciperelId,jdbcType=VARCHAR},
      </if>
      <if test="recipeId != null">
        RECIPE_ID = #{recipeId,jdbcType=VARCHAR},
      </if>
      <if test="medId != null">
        MED_ID = #{medId,jdbcType=VARCHAR},
      </if>
      <if test="medNm != null">
        MED_NM = #{medNm,jdbcType=VARCHAR},
      </if>
      <if test="medPrice != null">
        MED_PRICE = #{medPrice,jdbcType=NUMERIC},
      </if>
      <if test="medNum != null">
        MED_NUM = #{medNum,jdbcType=NUMERIC},
      </if>
      <if test="refundNum != null">
        REFUND_NUM = #{refundNum,jdbcType=NUMERIC},
      </if>
      <if test="recoveryNum != null">
        RECOVERY_NUM = #{recoveryNum,jdbcType=NUMERIC},
      </if>
      <if test="totalPrice != null">
        TOTAL_PRICE = #{totalPrice,jdbcType=NUMERIC},
      </if>
      <if test="medMethod != null">
        MED_METHOD = #{medMethod,jdbcType=VARCHAR},
      </if>
      <if test="dosage != null">
        DOSAGE = #{dosage,jdbcType=NUMERIC},
      </if>
      <if test="medForm != null">
        MED_FORM = #{medForm,jdbcType=VARCHAR},
      </if>
      <if test="productPlace != null">
        PRODUCT_PLACE = #{productPlace,jdbcType=VARCHAR},
      </if>
      <if test="medSpec != null">
        MED_SPEC = #{medSpec,jdbcType=VARCHAR},
      </if>
      <if test="medUnit != null">
        MED_UNIT = #{medUnit,jdbcType=VARCHAR},
      </if>
      <if test="tmSmp != null">
        TM_SMP = #{tmSmp,jdbcType=VARCHAR},
      </if>
      <if test="discount != null">
        DISCOUNT = #{discount,jdbcType=NUMERIC},
      </if>
      <if test="discountPrice != null">
        DISCOUNT_PRICE = #{discountPrice,jdbcType=NUMERIC},
      </if>
    </set>
    where EASTREFUND_ID = #{eastrefundId,jdbcType=VARCHAR}
      and STOCK_ID = #{stockId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jianyun.saas.model.UsrEastrecipeRefund">
    update USR_EASTRECIPE_REFUND
    set RECIPEREL_ID = #{reciperelId,jdbcType=VARCHAR},
      RECIPE_ID = #{recipeId,jdbcType=VARCHAR},
      MED_ID = #{medId,jdbcType=VARCHAR},
      MED_NM = #{medNm,jdbcType=VARCHAR},
      MED_PRICE = #{medPrice,jdbcType=NUMERIC},
      MED_NUM = #{medNum,jdbcType=NUMERIC},
      REFUND_NUM = #{refundNum,jdbcType=NUMERIC},
      RECOVERY_NUM = #{recoveryNum,jdbcType=NUMERIC},
      TOTAL_PRICE = #{totalPrice,jdbcType=NUMERIC},
      MED_METHOD = #{medMethod,jdbcType=VARCHAR},
      DOSAGE = #{dosage,jdbcType=NUMERIC},
      MED_FORM = #{medForm,jdbcType=VARCHAR},
      PRODUCT_PLACE = #{productPlace,jdbcType=VARCHAR},
      MED_SPEC = #{medSpec,jdbcType=VARCHAR},
      MED_UNIT = #{medUnit,jdbcType=VARCHAR},
      TM_SMP = #{tmSmp,jdbcType=VARCHAR},
      DISCOUNT = #{discount,jdbcType=NUMERIC},
      DISCOUNT_PRICE = #{discountPrice,jdbcType=NUMERIC}
    where EASTREFUND_ID = #{eastrefundId,jdbcType=VARCHAR}
      and STOCK_ID = #{stockId,jdbcType=VARCHAR}
  </update>
</mapper>