<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jianyun.saas.mapper.UsrRefundOrdMapper" >
  <resultMap id="BaseResultMap" type="com.jianyun.saas.model.UsrRefundOrd" >
    <id column="REFUND_ID" property="refundId" jdbcType="VARCHAR" />
    <result column="VISITS_ID" property="visitsId" jdbcType="VARCHAR" />
    <result column="REGISTER_ID" property="registerId" jdbcType="VARCHAR" />
    <result column="RECIPE_ID" property="recipeId" jdbcType="VARCHAR" />
    <result column="RECORDS_ID" property="recordsId" jdbcType="VARCHAR" />
    <result column="STORE_ID" property="storeId" jdbcType="VARCHAR" />
    <result column="USR_NO" property="usrNo" jdbcType="VARCHAR" />
    <result column="USR_NM" property="usrNm" jdbcType="VARCHAR" />
    <result column="DOC_NO" property="docNo" jdbcType="VARCHAR" />
    <result column="DOC_NM" property="docNm" jdbcType="VARCHAR" />
    <result column="DEP_ID" property="depId" jdbcType="VARCHAR" />
    <result column="VISITS_DT" property="visitsDt" jdbcType="VARCHAR" />
    <result column="VISITS_TM" property="visitsTm" jdbcType="VARCHAR" />
    <result column="TOTAL_PRICE" property="totalPrice" jdbcType="NUMERIC" />
    <result column="VISITS_STS" property="visitsSts" jdbcType="VARCHAR" />
    <result column="TM_SMP" property="tmSmp" jdbcType="VARCHAR" />
    <result column="REFUND_FEE" property="refundFee" jdbcType="NUMERIC" />
  </resultMap>
  <sql id="Base_Column_List" >
    REFUND_ID, VISITS_ID, REGISTER_ID, RECIPE_ID, RECORDS_ID, STORE_ID, USR_NO, USR_NM, 
    DOC_NO, DOC_NM, DEP_ID, VISITS_DT, VISITS_TM, TOTAL_PRICE, VISITS_STS, TM_SMP, REFUND_FEE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from USR_REFUND_ORD
    where REFUND_ID = #{refundId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from USR_REFUND_ORD
    where REFUND_ID = #{refundId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jianyun.saas.model.UsrRefundOrd" >
    insert into USR_REFUND_ORD (REFUND_ID, VISITS_ID, REGISTER_ID, 
      RECIPE_ID, RECORDS_ID, STORE_ID, 
      USR_NO, USR_NM, DOC_NO, 
      DOC_NM, DEP_ID, VISITS_DT, 
      VISITS_TM, TOTAL_PRICE, VISITS_STS, 
      TM_SMP, REFUND_FEE)
    values (#{refundId,jdbcType=VARCHAR}, #{visitsId,jdbcType=VARCHAR}, #{registerId,jdbcType=VARCHAR}, 
      #{recipeId,jdbcType=VARCHAR}, #{recordsId,jdbcType=VARCHAR}, #{storeId,jdbcType=VARCHAR}, 
      #{usrNo,jdbcType=VARCHAR}, #{usrNm,jdbcType=VARCHAR}, #{docNo,jdbcType=VARCHAR}, 
      #{docNm,jdbcType=VARCHAR}, #{depId,jdbcType=VARCHAR}, #{visitsDt,jdbcType=VARCHAR}, 
      #{visitsTm,jdbcType=VARCHAR}, #{totalPrice,jdbcType=NUMERIC}, #{visitsSts,jdbcType=VARCHAR}, 
      #{tmSmp,jdbcType=VARCHAR}, #{refundFee,jdbcType=NUMERIC})
  </insert>
  <insert id="insertSelective" parameterType="com.jianyun.saas.model.UsrRefundOrd" >
    insert into USR_REFUND_ORD
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="refundId != null" >
        REFUND_ID,
      </if>
      <if test="visitsId != null" >
        VISITS_ID,
      </if>
      <if test="registerId != null" >
        REGISTER_ID,
      </if>
      <if test="recipeId != null" >
        RECIPE_ID,
      </if>
      <if test="recordsId != null" >
        RECORDS_ID,
      </if>
      <if test="storeId != null" >
        STORE_ID,
      </if>
      <if test="usrNo != null" >
        USR_NO,
      </if>
      <if test="usrNm != null" >
        USR_NM,
      </if>
      <if test="docNo != null" >
        DOC_NO,
      </if>
      <if test="docNm != null" >
        DOC_NM,
      </if>
      <if test="depId != null" >
        DEP_ID,
      </if>
      <if test="visitsDt != null" >
        VISITS_DT,
      </if>
      <if test="visitsTm != null" >
        VISITS_TM,
      </if>
      <if test="totalPrice != null" >
        TOTAL_PRICE,
      </if>
      <if test="visitsSts != null" >
        VISITS_STS,
      </if>
      <if test="tmSmp != null" >
        TM_SMP,
      </if>
      <if test="refundFee != null" >
        REFUND_FEE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="refundId != null" >
        #{refundId,jdbcType=VARCHAR},
      </if>
      <if test="visitsId != null" >
        #{visitsId,jdbcType=VARCHAR},
      </if>
      <if test="registerId != null" >
        #{registerId,jdbcType=VARCHAR},
      </if>
      <if test="recipeId != null" >
        #{recipeId,jdbcType=VARCHAR},
      </if>
      <if test="recordsId != null" >
        #{recordsId,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=VARCHAR},
      </if>
      <if test="usrNo != null" >
        #{usrNo,jdbcType=VARCHAR},
      </if>
      <if test="usrNm != null" >
        #{usrNm,jdbcType=VARCHAR},
      </if>
      <if test="docNo != null" >
        #{docNo,jdbcType=VARCHAR},
      </if>
      <if test="docNm != null" >
        #{docNm,jdbcType=VARCHAR},
      </if>
      <if test="depId != null" >
        #{depId,jdbcType=VARCHAR},
      </if>
      <if test="visitsDt != null" >
        #{visitsDt,jdbcType=VARCHAR},
      </if>
      <if test="visitsTm != null" >
        #{visitsTm,jdbcType=VARCHAR},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=NUMERIC},
      </if>
      <if test="visitsSts != null" >
        #{visitsSts,jdbcType=VARCHAR},
      </if>
      <if test="tmSmp != null" >
        #{tmSmp,jdbcType=VARCHAR},
      </if>
      <if test="refundFee != null" >
        #{refundFee,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jianyun.saas.model.UsrRefundOrd" >
    update USR_REFUND_ORD
    <set >
      <if test="visitsId != null" >
        VISITS_ID = #{visitsId,jdbcType=VARCHAR},
      </if>
      <if test="registerId != null" >
        REGISTER_ID = #{registerId,jdbcType=VARCHAR},
      </if>
      <if test="recipeId != null" >
        RECIPE_ID = #{recipeId,jdbcType=VARCHAR},
      </if>
      <if test="recordsId != null" >
        RECORDS_ID = #{recordsId,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null" >
        STORE_ID = #{storeId,jdbcType=VARCHAR},
      </if>
      <if test="usrNo != null" >
        USR_NO = #{usrNo,jdbcType=VARCHAR},
      </if>
      <if test="usrNm != null" >
        USR_NM = #{usrNm,jdbcType=VARCHAR},
      </if>
      <if test="docNo != null" >
        DOC_NO = #{docNo,jdbcType=VARCHAR},
      </if>
      <if test="docNm != null" >
        DOC_NM = #{docNm,jdbcType=VARCHAR},
      </if>
      <if test="depId != null" >
        DEP_ID = #{depId,jdbcType=VARCHAR},
      </if>
      <if test="visitsDt != null" >
        VISITS_DT = #{visitsDt,jdbcType=VARCHAR},
      </if>
      <if test="visitsTm != null" >
        VISITS_TM = #{visitsTm,jdbcType=VARCHAR},
      </if>
      <if test="totalPrice != null" >
        TOTAL_PRICE = #{totalPrice,jdbcType=NUMERIC},
      </if>
      <if test="visitsSts != null" >
        VISITS_STS = #{visitsSts,jdbcType=VARCHAR},
      </if>
      <if test="tmSmp != null" >
        TM_SMP = #{tmSmp,jdbcType=VARCHAR},
      </if>
      <if test="refundFee != null" >
        REFUND_FEE = #{refundFee,jdbcType=NUMERIC},
      </if>
    </set>
    where REFUND_ID = #{refundId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jianyun.saas.model.UsrRefundOrd" >
    update USR_REFUND_ORD
    set VISITS_ID = #{visitsId,jdbcType=VARCHAR},
      REGISTER_ID = #{registerId,jdbcType=VARCHAR},
      RECIPE_ID = #{recipeId,jdbcType=VARCHAR},
      RECORDS_ID = #{recordsId,jdbcType=VARCHAR},
      STORE_ID = #{storeId,jdbcType=VARCHAR},
      USR_NO = #{usrNo,jdbcType=VARCHAR},
      USR_NM = #{usrNm,jdbcType=VARCHAR},
      DOC_NO = #{docNo,jdbcType=VARCHAR},
      DOC_NM = #{docNm,jdbcType=VARCHAR},
      DEP_ID = #{depId,jdbcType=VARCHAR},
      VISITS_DT = #{visitsDt,jdbcType=VARCHAR},
      VISITS_TM = #{visitsTm,jdbcType=VARCHAR},
      TOTAL_PRICE = #{totalPrice,jdbcType=NUMERIC},
      VISITS_STS = #{visitsSts,jdbcType=VARCHAR},
      TM_SMP = #{tmSmp,jdbcType=VARCHAR},
      REFUND_FEE = #{refundFee,jdbcType=NUMERIC}
    where REFUND_ID = #{refundId,jdbcType=VARCHAR}
  </update>
</mapper>