<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jianyun.saas.mapper.WxMpMapper" >
  <resultMap id="BaseResultMap" type="com.jianyun.saas.model.WxMp" >
    <result column="MP_ID" property="mpId" jdbcType="VARCHAR" />
    <result column="OPER_ID" property="operId" jdbcType="VARCHAR" />
    <result column="AUTHORIZER_APPID" property="authorizerAppid" jdbcType="VARCHAR" />
    <result column="NICK_NAME" property="nickName" jdbcType="VARCHAR" />
    <result column="HEAD_IMG" property="headImg" jdbcType="VARCHAR" />
    <result column="SERVICE_TYPE" property="serviceType" jdbcType="VARCHAR" />
    <result column="VERIFY_TYPE" property="verifyType" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="SIGNATURE" property="signature" jdbcType="VARCHAR" />
    <result column="PRINCIPAL_NAME" property="principalName" jdbcType="VARCHAR" />
    <result column="ALIAS" property="alias" jdbcType="VARCHAR" />
    <result column="OPEN_STORE" property="openStore" jdbcType="VARCHAR" />
    <result column="OPEN_SCAN" property="openScan" jdbcType="VARCHAR" />
    <result column="OPEN_PAY" property="openPay" jdbcType="VARCHAR" />
    <result column="OPEN_CARD" property="openCard" jdbcType="VARCHAR" />
    <result column="OPEN_SHAKE" property="openShake" jdbcType="VARCHAR" />
    <result column="QRCODE_URL" property="qrcodeUrl" jdbcType="VARCHAR" />
    <result column="INPUT_DATE" property="inputDate" jdbcType="VARCHAR" />
    <result column="INPUT_TIME" property="inputTime" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="TM_SMP" property="tmSmp" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.jianyun.saas.model.WxMp" >
    insert into WX_MP (MP_ID, OPER_ID, AUTHORIZER_APPID, 
      NICK_NAME, HEAD_IMG, SERVICE_TYPE, 
      VERIFY_TYPE, USER_NAME, SIGNATURE, 
      PRINCIPAL_NAME, ALIAS, OPEN_STORE, 
      OPEN_SCAN, OPEN_PAY, OPEN_CARD, 
      OPEN_SHAKE, QRCODE_URL, INPUT_DATE, 
      INPUT_TIME, STATUS, TM_SMP
      )
    values (#{mpId,jdbcType=VARCHAR}, #{operId,jdbcType=VARCHAR}, #{authorizerAppid,jdbcType=VARCHAR}, 
      #{nickName,jdbcType=VARCHAR}, #{headImg,jdbcType=VARCHAR}, #{serviceType,jdbcType=VARCHAR}, 
      #{verifyType,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{signature,jdbcType=VARCHAR}, 
      #{principalName,jdbcType=VARCHAR}, #{alias,jdbcType=VARCHAR}, #{openStore,jdbcType=VARCHAR}, 
      #{openScan,jdbcType=VARCHAR}, #{openPay,jdbcType=VARCHAR}, #{openCard,jdbcType=VARCHAR}, 
      #{openShake,jdbcType=VARCHAR}, #{qrcodeUrl,jdbcType=VARCHAR}, #{inputDate,jdbcType=VARCHAR}, 
      #{inputTime,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{tmSmp,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jianyun.saas.model.WxMp" >
    insert into WX_MP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mpId != null" >
        MP_ID,
      </if>
      <if test="operId != null" >
        OPER_ID,
      </if>
      <if test="authorizerAppid != null" >
        AUTHORIZER_APPID,
      </if>
      <if test="nickName != null" >
        NICK_NAME,
      </if>
      <if test="headImg != null" >
        HEAD_IMG,
      </if>
      <if test="serviceType != null" >
        SERVICE_TYPE,
      </if>
      <if test="verifyType != null" >
        VERIFY_TYPE,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="signature != null" >
        SIGNATURE,
      </if>
      <if test="principalName != null" >
        PRINCIPAL_NAME,
      </if>
      <if test="alias != null" >
        ALIAS,
      </if>
      <if test="openStore != null" >
        OPEN_STORE,
      </if>
      <if test="openScan != null" >
        OPEN_SCAN,
      </if>
      <if test="openPay != null" >
        OPEN_PAY,
      </if>
      <if test="openCard != null" >
        OPEN_CARD,
      </if>
      <if test="openShake != null" >
        OPEN_SHAKE,
      </if>
      <if test="qrcodeUrl != null" >
        QRCODE_URL,
      </if>
      <if test="inputDate != null" >
        INPUT_DATE,
      </if>
      <if test="inputTime != null" >
        INPUT_TIME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="tmSmp != null" >
        TM_SMP,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mpId != null" >
        #{mpId,jdbcType=VARCHAR},
      </if>
      <if test="operId != null" >
        #{operId,jdbcType=VARCHAR},
      </if>
      <if test="authorizerAppid != null" >
        #{authorizerAppid,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="headImg != null" >
        #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="serviceType != null" >
        #{serviceType,jdbcType=VARCHAR},
      </if>
      <if test="verifyType != null" >
        #{verifyType,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="signature != null" >
        #{signature,jdbcType=VARCHAR},
      </if>
      <if test="principalName != null" >
        #{principalName,jdbcType=VARCHAR},
      </if>
      <if test="alias != null" >
        #{alias,jdbcType=VARCHAR},
      </if>
      <if test="openStore != null" >
        #{openStore,jdbcType=VARCHAR},
      </if>
      <if test="openScan != null" >
        #{openScan,jdbcType=VARCHAR},
      </if>
      <if test="openPay != null" >
        #{openPay,jdbcType=VARCHAR},
      </if>
      <if test="openCard != null" >
        #{openCard,jdbcType=VARCHAR},
      </if>
      <if test="openShake != null" >
        #{openShake,jdbcType=VARCHAR},
      </if>
      <if test="qrcodeUrl != null" >
        #{qrcodeUrl,jdbcType=VARCHAR},
      </if>
      <if test="inputDate != null" >
        #{inputDate,jdbcType=VARCHAR},
      </if>
      <if test="inputTime != null" >
        #{inputTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="tmSmp != null" >
        #{tmSmp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>