<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.educoder.bridge.k8s.dao.DeletePodMapper" >
  <resultMap id="BaseResultMap" type="com.educoder.bridge.k8s.model.DeletePod" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="tpi_ID" property="tpiId" jdbcType="VARCHAR" />
    <result column="pod_type" property="podType" jdbcType="INTEGER" />
    <result column="node_name" property="nodeName" jdbcType="VARCHAR" />
    <result column="node_ip" property="nodeIp" jdbcType="VARCHAR" />
    <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, tpi_ID, pod_type, node_name, node_ip, delete_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from delete_pod
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from delete_pod
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.educoder.bridge.k8s.model.DeletePod" >
    insert into delete_pod (id, name, tpi_ID, 
      pod_type, node_name, node_ip, 
      delete_time)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{tpiId,jdbcType=VARCHAR}, 
      #{podType,jdbcType=INTEGER}, #{nodeName,jdbcType=VARCHAR}, #{nodeIp,jdbcType=VARCHAR}, 
      #{deleteTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.educoder.bridge.k8s.model.DeletePod" >
    insert into delete_pod
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="tpiId != null" >
        tpi_ID,
      </if>
      <if test="podType != null" >
        pod_type,
      </if>
      <if test="nodeName != null" >
        node_name,
      </if>
      <if test="nodeIp != null" >
        node_ip,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="tpiId != null" >
        #{tpiId,jdbcType=VARCHAR},
      </if>
      <if test="podType != null" >
        #{podType,jdbcType=INTEGER},
      </if>
      <if test="nodeName != null" >
        #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="nodeIp != null" >
        #{nodeIp,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.educoder.bridge.k8s.model.DeletePod" >
    update delete_pod
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="tpiId != null" >
        tpi_ID = #{tpiId,jdbcType=VARCHAR},
      </if>
      <if test="podType != null" >
        pod_type = #{podType,jdbcType=INTEGER},
      </if>
      <if test="nodeName != null" >
        node_name = #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="nodeIp != null" >
        node_ip = #{nodeIp,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.educoder.bridge.k8s.model.DeletePod" >
    update delete_pod
    set name = #{name,jdbcType=VARCHAR},
      tpi_ID = #{tpiId,jdbcType=VARCHAR},
      pod_type = #{podType,jdbcType=INTEGER},
      node_name = #{nodeName,jdbcType=VARCHAR},
      node_ip = #{nodeIp,jdbcType=VARCHAR},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>