<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.educoder.bridge.k8s.dao.LongTaskReqMapper" >
  <resultMap id="BaseResultMap" type="com.educoder.bridge.k8s.model.LongTaskReq" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="req_time" property="reqTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.educoder.bridge.k8s.model.LongTaskReq" extends="BaseResultMap" >
    <result column="req_data" property="reqData" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, req_time, create_time
  </sql>
  <sql id="Blob_Column_List" >
    req_data
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from long_task_req
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from long_task_req
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.educoder.bridge.k8s.model.LongTaskReq" >
    insert into long_task_req (id, req_time, create_time, 
      req_data)
    values (#{id,jdbcType=BIGINT}, #{reqTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{reqData,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.educoder.bridge.k8s.model.LongTaskReq" >
    insert into long_task_req
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="reqTime != null" >
        req_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="reqData != null" >
        req_data,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="reqTime != null" >
        #{reqTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reqData != null" >
        #{reqData,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.educoder.bridge.k8s.model.LongTaskReq" >
    update long_task_req
    <set >
      <if test="reqTime != null" >
        req_time = #{reqTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reqData != null" >
        req_data = #{reqData,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.educoder.bridge.k8s.model.LongTaskReq" >
    update long_task_req
    set req_time = #{reqTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      req_data = #{reqData,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.educoder.bridge.k8s.model.LongTaskReq" >
    update long_task_req
    set req_time = #{reqTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>