<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.educoder.bridge.alarm.dao.AlarmMapper" >
  <resultMap id="BaseResultMap" type="com.educoder.bridge.alarm.model.Alarm" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="alarm_rule_id" property="alarmRuleId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="threshold" property="threshold" jdbcType="VARCHAR" />
    <result column="alarm_way" property="alarmWay" jdbcType="VARCHAR" />
    <result column="val" property="val" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, alarm_rule_id, name, threshold, alarm_way, val, create_time, update_time, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from alarm
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from alarm
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.educoder.bridge.alarm.model.Alarm" >
    insert into alarm (id, alarm_rule_id, name, 
      threshold, alarm_way, val, 
      create_time, update_time, status
      )
    values (#{id,jdbcType=BIGINT}, #{alarmRuleId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{threshold,jdbcType=VARCHAR}, #{alarmWay,jdbcType=VARCHAR}, #{val,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.educoder.bridge.alarm.model.Alarm" >
    insert into alarm
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="alarmRuleId != null" >
        alarm_rule_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="threshold != null" >
        threshold,
      </if>
      <if test="alarmWay != null" >
        alarm_way,
      </if>
      <if test="val != null" >
        val,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="alarmRuleId != null" >
        #{alarmRuleId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="threshold != null" >
        #{threshold,jdbcType=VARCHAR},
      </if>
      <if test="alarmWay != null" >
        #{alarmWay,jdbcType=VARCHAR},
      </if>
      <if test="val != null" >
        #{val,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.educoder.bridge.alarm.model.Alarm" >
    update alarm
    <set >
      <if test="alarmRuleId != null" >
        alarm_rule_id = #{alarmRuleId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="threshold != null" >
        threshold = #{threshold,jdbcType=VARCHAR},
      </if>
      <if test="alarmWay != null" >
        alarm_way = #{alarmWay,jdbcType=VARCHAR},
      </if>
      <if test="val != null" >
        val = #{val,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.educoder.bridge.alarm.model.Alarm" >
    update alarm
    set alarm_rule_id = #{alarmRuleId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      threshold = #{threshold,jdbcType=VARCHAR},
      alarm_way = #{alarmWay,jdbcType=VARCHAR},
      val = #{val,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>